<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="QihaiWebHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\WorkSpace\venvs\threefish\Scripts\python.exe|D:\WorkSpace\projects\threefish\qihai\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
